##############################################
# Java / Maven
##############################################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.flattened-pom.xml

##############################################
# IDEs e Ferramentas
##############################################

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ IDEA
.idea/
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode/
.factorypath

##############################################
# SO / Editor
##############################################

# macOS
.DS_Store

# Vim
*.swp
*.swo

##############################################
# Patches e backups
##############################################
*.orig
*.rej

##############################################
# Arquivos locais e sensíveis
##############################################
.env
.env.*
*.pem
*.key
*.crt

##############################################
# Quarkus / Plugins / Certificados
##############################################
.quarkus/
.quarkus/cli/plugins/
.certs/
